[Unit]
Description=nginx {{nginx.release}}
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/opt/nginx/sbin/nginx 
ExecReload=/opt/nginx/sbin/nginx -s reload
ExecStop=/opt/nginx/sbin/nginx -s quit
LimitNOFILE=500000
LimitNPROC=500000

[Install]
WantedBy=multi-user.target