
# SSHD port
Port {{sshd.port}}

AddressFamily inet
ListenAddress 0.0.0.0

HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

{% if sshd.Protocol is defined %}
    Protocol {{ sshd.Protocol }}
{% endif %}

# Disable password auth 
PermitRootLogin {{sshd.AllowRootLogin | ternary('yes','no') }}
PasswordAuthentication no

SyslogFacility AUTHPRIV



ClientAliveInterval 300
ClientAliveCountMax 2


X11Forwarding no

MaxAuthTries 10
MaxSessions 20
# Authentication:

#LoginGraceTime 2m
#PermitRootLogin yes
#StrictModes yes
#MaxAuthTries 6
#


# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
AuthorizedKeysFile	.ssh/authorized_keys





# To disable tunneled clear text passwords, change to no here!
PermitEmptyPasswords no
PasswordAuthentication {{sshd.AllowPasswordAuth | ternary('yes','no') }}  

# Change to no to disable s/key passwords
ChallengeResponseAuthentication no

# GSSAPI options
GSSAPIAuthentication yes
GSSAPICleanupCredentials no

# Set this to 'yes' to enable PAM authentication, account processing,
UsePAM yes

#AllowAgentForwarding yes
#AllowTcpForwarding yes
#GatewayPorts no
X11Forwarding no

# no default banner path
#Banner none

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

# override default of no subsystems
Subsystem	sftp	/usr/libexec/openssh/sftp-server



